$quote-cont-width: 50em;
$quote-cont-height: 30em;
$quote-font-size: 1.5em;
$backg-color: #EEEEEE;
$font-color: #3B3B44;
$shading: #18181b;
$default-font: serif;

body {
    background-color: $backg-color;
}

#wait-quote {
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: $backg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-color;
    font-size: 2em;
}

#root {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $backg-color;
}

%arrow-button {
    width: 5em;
    height: 5em;

    &:hover {
        cursor: pointer;
    }
}

.arrow-button-forward {
    @extend %arrow-button;
}

.arrow-button-backward {
    transform: rotate(180deg);
    @extend %arrow-button;
}

#quote-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &, * {
        box-sizing: border-box;
    }

    #inner-quote-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 20em;
        align-items: center;
    }
}

#quote-content {
    height: 100%;
    overflow: hidden;
}

#quote-container {
    @extend #quote-content;
}

#swipeable-notif {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    color: $backg-color;
    font-size: 1.2rem;
    font-family: $default-font;
    opacity: .9;
    display: flex;
    background-color: $font-color;
    justify-content: center;
    align-items: center;
}

%quotes-style {
    display: flex;
    justify-content: center;
    color: $font-color;
    font-size: $quote-font-size;
    font-family: $default-font;
    height: 100%;
    float: left;
    padding: 0 0.5rem;
}

.wait-quotes {
    @extend %quotes-style;
    align-items: center;
}

.quotes {
    @extend %quotes-style;
    flex-direction: column;

    > * {
        margin: 2em 0;
    }
}

#text {
    font-style: italic;
}

#tweet-quote {
    width: 3em !important;
    height: 3em !important;
}

.tweet-touch {
    fill: $shading !important;
}

#author {
    font-weight: 600;
    text-align: end;
}

@media (min-height: $quote-cont-height) {

    #root {
        height: 100vh;
        align-items: center;
    }

    #quote-box {
        height: $quote-cont-height;
    }
}

@media (hover: hover) {
    .hovered-arrow {
        fill: $shading !important;
    }

    #tweet-quote:hover {
        cursor: pointer;

        path:hover {
            fill: $shading !important;
        }
    }
}